<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="d-flex flex-column min-vh-100">
		<div class="container width my-4 px-4 flex-grow-1">
				<header>
						{{ partial "header.html" . }}
				</header>
				<main>
						{{ block "main" . }}{{ end }}
				</main>
		</div>
		<div class="container width-footer my-4 px-2" id="footer">
				{{ partial "footer.html" . }}
		</div>
</body>
</html>
