{{ define "main" }}
	<div class="row" id="subtitle"> 
	    <div class="col text-sm-left">
			<p id="subtitle">
	            {{ if .Site.Params.headerSubtitle }}
	                {{ .Site.Params.headersubtitle }}
	            {{ end }}
	        </p>
		</div>
	</div>
	
	{{ if .Site.Params.Social }}
	{{ $len := (len $.Site.Params.Social) }}
	<div class="row mt-n3 mb-n3">
	        <ul id="nav-social" class="list-inline">
				<li class="list-inline-item">
					Find me on,
					{{ range $k, $v := $.Site.Params.Social}} 
						{{if eq (add $k 1) $len }}
							and 
							<li class="list-inline-item">
							<a href="{{ .url }}"> 
								<i class="{{ .icon }}"></i>
	                    	</a>.
						{{ else}}
							<li class="list-inline-item">
							<a href="{{ .url }}">
								<i class="{{ .icon }}"></i>
	                    	</a>,
						{{ end }}
					{{ end }}
			</ul>
	</div>
	{{ end }}

	<div id="home">
		<div class="pageTypes mt-sep">
			{{ range .Site.Params.pageTypes }}
			{{ $c := 0 }}
			{{ $pages := where $.Site.RegularPages "Type" . }}
			{{ $lpages := ($pages | len) }}
			<h2 class="section"><a href="/{{.}}/">{{ . | title }}</a></h2>
  			<ul class="list-unstyled ms-4">
    			{{ range first $.Site.Params.pageTypesN $pages }}
				{{ $c = add $c 1 }}
    				<li class="py-1 d-flex">
						<span class="col-3 date">
							{{ .Date | time.Format "2006·01·02"}}
						</span>
						<div class="col-9 d-flex flex-column">
							<a href="{{ .RelPermalink }}">{{ .Title }}</a>
					    </div>
					</li>

    			{{ end }}
  			</ul>
			{{ if lt $c $lpages}}
			<div class="pagination">
				<a href="/{{.}}/">Showing {{ $c }} of {{ $lpages }}</a>
			</div>
			{{ end }}
  			{{ end }}
		</div>

		<div class="listTypes mt-sep">
			{{ range .Site.Params.listTypes }}
			{{ $c := 0 }}
			{{ $pages := where $.Site.RegularPages "Type" . }}
			{{ $lpages := ($pages | len) }}
			<h2 class="section"><a href="/{{.}}/">{{ . | title }}</a></h2>
  			<ul class="list-unstyled ms-4">
	 			{{ range first $.Site.Params.listTypesN $pages }}
				{{ $c = add $c 1 }}
    				<li class="d-flex">
						<span class="col-3 date">
							{{ .Date | time.Format "2006·01·02"}}
						</span>
						<div class="col-9 d-flex flex-column">
							<a href="{{ .Params.Link }}">{{ .Title }}</a>
							<span>{{ .Content }}</span>
					    </div>
					</li>
    			{{ end }}
  			</ul>
			{{ if lt $c $lpages}}
			<div class="pagination">
				<a href="/{{.}}/">Showing {{ $c }} of {{ $lpages }}</a>
			</div>
			{{ end }}
  			{{ end }}
		</div>
	</div>

{{ end }}
