{{ define "main" }}
	<div class="row" id="subtitle"> 
	    <div class="col text-sm-left">
			<p id="subtitle">
	            {{ if .Site.Params.headerSubtitle }}
	                {{ .Site.Params.headersubtitle }}
	            {{ end }}
	        </p>
		</div>
	</div>
	
	{{ if .Site.Params.Social }}
	{{ $len := (len $.Site.Params.Social) }}
	<div class="row mt-n3">
		<div class="col-sm-auto pe-0">
			<p>Find me on</p>
		</div>
		<div class="col-sm ps-2">
	        <ul id="nav-social" class="list-inline">
					<li class="list-inline-item">
					{{ range $k, $v := $.Site.Params.Social}} 
						{{if eq (add $k 1) $len }}
							and 
							<a href="{{ .url }}"> 
								<i class="{{ .icon }}"></i>
	                    	</a>.
						{{ else}}
							<a href="{{ .url }}">
								<i class="{{ .icon }}"></i>
	                    	</a>,
						{{ end }}
					{{ end }}
	                </li>
			</ul>
			{{ end }}
		</div>
	</div>

	{{ range .Site.Params.pageTypes }}
  	<h2>{{ . | title }}</h2>
  	<ul>
    	{{ range first $.Site.Params.pageTypesN (where $.Site.RegularPages "Type" .) }}
    		<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    	{{ end }}
  	</ul>
  	{{ end }}


	{{ range .Site.Params.listTypes }}
  	<h2>{{ . | title }}</h2>
  	<ul>
    	{{ range first $.Site.Params.listTypesN (where $.Site.RegularPages "Type" .) }}
    		<li>
				<a href="{{ .Params.Link }}">{{ .Title }}</a>
				<small>{{ .Content }}</small>
			</li>
    	{{ end }}
  	</ul>
  	{{ end }}

{{ end }}
