<div class="py-4">
	<div class="row" id="header">
		<div id="logo" class="col-md-auto"></div>
		<div class="col text-left">
			<div class="row">
				<div class="col-12">
					<h3 class="m-0 mb-2">
						<a href="/" class="text-decoration-none">
							{{ if .Site.Params.headerName }}
								{{ .Site.Params.headerName }}
				        	{{ else }}
				        	    Header Name
				        	{{ end }}
				    	</a>
					</h3>
				</div>
				<div class="col-12">
					<ul class="list-inline horizontal-list">
						{{ range .Data.Terms.Alphabetical }}
						<li class="list-inline-item">{{ .Page.Title }}</li>
						{{ end }}
	    			</ul>
				</div>
			</div>
		</div>
	</div>
</div>
